/* Common Styles */
.form_field { display: block; margin-bottom: 15px; }
.form_field:last-child { margin-bottom: 0; }
.form_field_title { display: block; margin: 15px 0; font-size: 20px; font-weight: 700; color: #333; }
/* Common Styles End */

.settings_wrap > * { width: 100%; }
.settings_wrap .coupang_apikey_wrap input { width: 300px; }
.form_field label { display: block; margin: 10px 0; }